<form>
  <p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="5" [checked]="pintar[4]" (click)="countStar(5)"><!--
    --><label for="radio1">★</label><!--
    --><input id="radio2" type="radio" name="estrellas" value="4" [checked]="pintar[3]" (click)="countStar(4)"><!--
    --><label for="radio2">★</label><!--
    --><input id="radio3" type="radio" name="estrellas" value="3" [checked]="pintar[2]" (click)="countStar(3)"><!--
    --><label for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2" [checked]="pintar[1]" (click)="countStar(2)"><!--
    --><label for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas" value="1" [checked]="pintar[0]" (click)="countStar(1)"><!--
    --><label for="radio5">★</label>
  </p>
</form>
